{% extends 'baseit.html' %}
{% load static %}
{% block title %} News home page {% endblock %}
{% block changestyle %} 
.mc{
background-color:#79a3b1;

}
{% endblock %}

{% block content %}

<div class="container">
<div class="col-md-12">
<h1>Latest News</h1></div></div>
{% for det in posts %}


<div class="container">

<div class="col-md-12">
    <h2><a href ="{{ det.get_absolute_url }}"> {{det.title|upper}}</a></h2>
    <p>{{det.body|truncatewords:"50"}}</p>
    <div>
    
        <span class="badge mc badge-success">Posted on {{det.created_on}} </span>
        </div>
    </div> 
      
    <hr>
</div>
{% endfor %}
{% endblock %}


