{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock %}

<head>




<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

{% block content %}


<br>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center">Who we are</h3>
      <p>
       
      </p>
      <ul class="timeline">
        <li>
          <div class="timeline-image">
            <img class="  seek rounded-circle z-depth-2" alt="100x100" src="{% static 'images/facility1.jpg' %}"
          data-holder-rendered="true">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4></h4>
              <h4 class="subheading"></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Peaklane Private Schools was founded in 1999 by a seasoned and qualified educationist in her quest to bring up children with enviable character and excellent academic performance.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="  seek rounded-circle z-depth-2" alt="100x100" src="{% static 'images/facility3.jpg' %}"
          data-holder-rendered="true">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4></h4>
              <h4 class="subheading"></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                The school is poised to provide dynamic academic training environment, adequate teaching equipment, in addition to competent and committed staff who are ready to carefully train and shape our future leaders to the peak of their intellectual and spiritual glory.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
          <img class="  seek rounded-circle z-depth-2" alt="100x100" src="{% static 'images/facility4.jpg' %}"
          data-holder-rendered="true">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4></h4>
              <h4 class="subheading"></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Over the years, Peaklane Schools have maintained a reduced ratio of pupils/students to teacher, an innovation we believe will enhance individual attention in abid to awakening each child's full potential and to promptly strengthen each child's identified areas of weakness.
              </p>
            </div>
          </div>
          
        </li>
       
        </li>
      </ul>
    </div>
  </div>
</div>



<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h4>Our vision</h4>
			<ul class="timeline">
				<li>
					<a target="_blank" href="https://www.totoprayogo.com/#"></a>
					<a href="#" class="float-right"></a>
					<p>Provide rich, qualitative and balanced education to pupils and instill passion for intellectual and spiritual excellence. </p>
				</li>
				<li>
					<a href="#"></a>
					<a href="#" class="float-right"></a>
					<p>Inculcate the values of discipline, integrity, hard work and diligence as foundational virtues of life.</p>
				</li>
				<li>
					<a href="#"></a>
					<a href="#" class="float-right"></a>
					<p>Promote the development of God-given potentials and innate abilities as veritable tools for coping with the challenges of a rapidly changing world.</p>
				</li>
				<li>
					<a href="#" class="float-right"></a>
					<p>Foster the spirit of teamwork and interdependence among pupils through a wide variety of activities and assignments designed to encourage the development of leadership traits.</p>
				</li>
				<li>
					<a href="#"></a>
					<a href="#" class="float-right"></a>
					<p>Provide a safe and serene environment that is very conducive to teaching, learning and recreation.</p>
				</li>
				<li>
					<a href="#"></a>
					<a href="#" class="float-right"></a>
					<p>Encourage positive values and attitudes that will produce responsible citizens of our country and the world at large.</p>
				</li>
				<li>
					<a href="#"></a>
					<a href="#" class="float-right"></a>
					<p>Make teaching a sufficiently rewarding and fulfilling career. </p>
				</li>
			</ul>
		</div>
	</div>
</div>





{% endblock %}