{% extends 'base.html' %}
{% load static %}
{% block title %} Curriculum {% endblock %}


{% block content %}
<br><br>
<h3 align="center">our curriculum </h3>
<br><br>




<div class="container">
	<div class="row">
		 <div class="span3">
        	<div class="well">
        		<h2 class="text-warning"> </h2>
        		<p><span class="label label-success"> </span></p>
        		<ul>
        	
        		</ul>          
        		<p>Peaklane Schools operates Nigerian, British and American curricula. Our students are also exposed to various co-curricula activities in addition to the learning subjects.</p>
        		<hr>
        		<h3> </h3>
        		<hr>
        		
        	</div>
        </div>
        <div class="span3">
        	<div class="well">
        		<h2 class="text-warning"> </h2>
        		<p><span class="label label-success"> </span></p>
        		<ul>
        	
        		</ul>          
        		<p>Our curriculum is constantly updated and enriched to ensure steady progress and relevance to the demands of a consistently dynamic society.</p>
        		<hr>
        		<h3> </h3>
        		<hr>
        		
        	</div>
        </div>
        <div class="span3">
        	<div class="well">
        		<h2 class="text-info"></h2>
        		<p><span class="label label-info"></span></p>
        		<ul>
        		
        		</ul>          
        		<p>We also cover the following local and International examinations: JSCE, SSCE, NECO, JAMB, TOEFL, SAT, Cambridge O & A Levels.</p>
        		<hr>
        		<h3></h3>
        		<hr>
           
        	</div>
      

{% endblock %}